* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.createNew {
  background-color: lightslategray;
  padding: 1.2rem 2rem;
  height: 70px;
}

.createNew button,
.article__buttons button {
  border: none;
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 4px;
}

.articlesList {
  background-color: slategrey;
  padding: 1.2rem 2rem;
  height: 160px;
}

.article__title,
.article__contentSnippet,
.article__createdDate {
  padding: 0.2rem 0;
}
